<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css">
    <style>
                    body { 
            font-size: 140%; 
            }

            h2 {
            text-align: center;
            padding: 20px 0;
            }

            table caption {
                padding: .5em 0;
            }

            table.dataTable th,
            table.dataTable td {
            white-space: nowrap;
            }

            .p {
            text-align: center;
            padding-top: 140px;
            font-size: 14px;
            }
    </style>
</head>

<body>
        <div class="fb-customerchat"
         page_id="<102000524864314>"
         minimized="false">
    </div>
    <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId            : '2261064210855232',
              autoLogAppEvents : true,
              xfbml            : true,
              version          : 'v2.11'
            });
          };
        (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
          attribution=setup_tool
          page_id="102000524864314"
          theme_color="#603ef7">
    </div>
    
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <li>
                    <h1 class="title"> 
                        <a href="/">HOME</a> 
                    </h1>
                </li>
                <li>
                <h2 class="title" >
                    COVID 19 DATA <br>
                </h2>
                </li>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST" action="covid">
                        {%csrf_token%}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="covid_data" type="text" placeholder="Enter the Country Code">
                            </div>
                            <div  class="control">
                                <button type="submit" class="button is-info">
                                    Country Code
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div>
    {% for messages in messages %}

    <script>
        window.onload = startcountdown;
         function startcountdown(){
            alert(" {{messages}} ")
        }
        </script>
    {%endfor%}
	</div>

    <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <table summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive">
              <thead>
                <tr>
                  <th>Country</th>
                  <th>Confirmed</th>
                  <th>Deaths</th>
                  <th>Recovered</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{covid_data.name}}</td>
                  <td>{{covid_data.confirmed}}</td>
                  <td>{{covid_data.deaths}}</td>
                  <td>Counting</td>
                </tr>
              </tbody>
              <tfoot>
                
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      
     

    <footer class="footer">
    </footer>



    <script>
        $('table').DataTable();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>
</body>

</html>