{% extends 'travel/base.html' %}
{% load static %}
{% block link %}
    {% include 'modules/aru.html' %}
{% endblock %}
{% block togo %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Pokhara</h3>
                                <a href="discription?field=Pokhara" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Manang</h3>

                                <a href="discription?field=Manang"  class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_3 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>SeyPhoksundo</h3>
                                <a href="discription?field=SayPhoksundo" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- slider_area_end -->
    <!-- where_togo_area_start  -->
    <div class="where_togo_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="form_area">
                        <h3>Where you want to go?</h3>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="search_wrap">
                        <form class="search_form" action="search" method="POST">
                            {% csrf_token %}
                            <div class="input_field">
                                <input name="days" type="text" placeholder="How many days">
                            </div>
                            <div class="input_field">
                                <input name="date" id="datepicker" placeholder="When?">
                            </div>
                            <div class="input_field">
                                <select name="name"  required>
                                    
                                    {% for dest1 in dest1 %}
										<option value="{{dest1.name}}">{{dest1.name}}</option>
									{% endfor %}
                                </select>
                            </div>
                            <div class="search_btn">
                                <button class="boxed-btn4 " type="submit" >Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- where_togo_area_end  -->
	{% include 'modules/covid.html' %}
	{% include 'modules/messenger.html' %}
{% endblock %}

"""      {% static 'travelpack/img/place' as placeUrl %}     """
{% block content %}

    <!-- popular_destination_area_start  -->
    <div class="popular_destination_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>All Categories</h3>
                        <p>It’s up to you to make the dream come true and take the first step. Here we’ve rounded up types of travel. It’s never too late to tick another off the list, and remember, you can’t knock it until you try it.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'travel/img/destination/1.png' %}" alt="NEPAL">
                        </div>
                        <div class="disp-overlay">
                            <div class="disp-text">Check out the top Religious Places in Nepal. </div>
                        </div>
                        <div class="disp-content">
                            <p class="d-flex align-items-center">Religious <a href="religious?field=ReligiousPlaces">  {{data2}} Places </a> </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'travel/img/destination/2.png' %}" alt="NEPAL">
                        </div>
                        <div class="disp-overlay">
                            <div class="disp-text">Check out the top Trekking Places in Nepal. </div>
                        </div>
                        <div class="disp-content">
                            <p class="d-flex align-items-center">Trekking <a href="trecking?field=Trecking">  {{data3}} Places</a> </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'travel/img/destination/3.png' %}" alt="NEPAL">
                        </div>
                        <div class="disp-overlay">
                            <div class="disp-text">Check out the top Family Places in Nepal. </div>
                        </div>
                        <div class="disp-content">
                            <p class="d-flex align-items-center">Family Places <a href="familyplaces?field=FamilyPlaces">  {{data4}} Places</a> </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'travel/img/destination/4.png' %}" alt="NEPAL">
                        </div>
                        <div class="disp-overlay">
                            <div class="disp-text">Check out the top Budget Places in Nepal. </div>
                        </div>
                        <div class="disp-content">
                            <p class="d-flex align-items-center">Budget Places <a href="budgetplaces?field=BudgetPlaces">  {{data5}} Places</a> </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'travel/img/destination/5.png' %}" alt="NEPAL">
                        </div>
                        <div class="disp-overlay">
                            <div class="disp-text">Check out the top HoneyMoon Places in Nepal. </div>
                        </div>
                        <div class="disp-content">
                            <p class="d-flex align-items-center">HoneyMoon Places <a href="honeymoon?field=Honeymoon">  {{data6}} Places</a> </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'travel/img/destination/6.png' %}" alt="NEPAL">
                        </div>
                        <div class="disp-overlay">
                            <div class="disp-text">Check out the top National Parks in Nepal. </div>
                        </div>
                        <div class="disp-content">
                            <p class="d-flex align-items-center">National Parks <a href="nationalparks?field=NationalParks"> {{data7}} Places</a> </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_destination_area_end  -->
    <!-- newletter_area_start  -->
    <div class="newletter_area overlay">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-10">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="newsletter_text">
                                <h4>Subscribe Our Newsletter</h4>
                                <p>Subscribe newsletter to get offers and about
                                    new places to discover.</p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="mail_form">
                                <div class="row no-gutters">
                                    <div class="col-lg-9 col-md-8">
                                        <div class="newsletter_field">
                                               <form action="subscribe" method="post">
                                                    {% csrf_token %}
                                            <input type="email" name="email" placeholder="Your mail" required="required" >
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4">
                                        <div class="newsletter_btn">
                                            <button class="boxed-btn4 " type="submit" >Subscribe</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- newletter_area_end  -->
 
    {% include 'modules/pop_dest.html' %}


    <div class="video_area video_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video_wrap text-center">
                        <h3>Enjoy Video</h3>
                        <div class="video_icon">
                            <a class="popup-video video_play_button" href="https://www.youtube.com/watch?v=ut-U-4m42aQ">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="travel_variation_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="{% static 'travel/img/svg_icon/1.svg' %}" alt="NEPAL">
                        </div>
                        <h3>Comfortable Journey</h3>
                        <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="{% static 'travel/img/svg_icon/2.svg' %}" alt="NEPAL">
                        </div>
                        <h3>Luxuries Hotel</h3>
                        <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="{% static 'travel/img/svg_icon/3.svg' %}" alt="NEPAL">
                        </div>
                        <h3>Travel Guide</h3>
                        <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- testimonial_area  -->
    <div class="testimonial_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'travel/img/testmonial/Sundar1.png' %}" alt="NEPAL">
                                        </div>
                                        <p>LA THIK XA BHAI</p>
                                        <div class="testmonial_author">
                                            <h3>- Sundar Dhungana</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'travel/img/testmonial/author.png' %}" alt="NEPAL">
                                        </div>
                                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                        <div class="testmonial_author">
                                            <h3>- Kapil Dhungana</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'travel/img/testmonial/author.png' %}" alt="NEPAL">
                                        </div>
                                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                        <div class="testmonial_author">
                                            <h3>- Sushil Dhungana</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'travel/img/testmonial/author.png' %}" alt="NEPAL">
                                        </div>
                                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                        <div class="testmonial_author">
                                            <h3>- Vushan Giri</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- /testimonial_area  -->
    
    <section class="contact-section">
            <div class="container">
                    <h3>CONTACT US</h3>
                    
                    <!--The div element for the map -->
                    <div id="mapid"></div>
                    {% include 'modules/aru1.html' %}
            </div>
    </section>


    <div class="recent_trip_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Recent Trips</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_trip">
                        <div class="thumb">
                            <img src="{% static 'travel/img/trip/1.png' %}" alt="NEPAL">
                        </div>
                        <div class="info">
                            <div class="date">
                                <span>Oct 12, 2019</span>
                            </div>
                            <a href="singleblog">
                                <h3>Journeys Are Best Measured In
                                    New Friends</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_trip">
                        <div class="thumb">
                            <img src="{% static 'travel/img/trip/2.png' %}" alt="NEPAL">
                        </div>
                        <div class="info">
                            <div class="date">
                                <span>Oct 12, 2019</span>
                            </div>
                            <a href="singleblog">
                                <h3>Journeys Are Best Measured In
                                    New Friends</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_trip">
                        <div class="thumb">
                            <img src="{% static 'travel/img/trip/3.png' %}" alt="NEPAL">
                        </div>
                        <div class="info">
                            <div class="date">
                                <span>Oct 12, 2019</span>
                            </div>
                            <a href="singleblog">
                                <h3>Journeys Are Best Measured In
                                    New Friends</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!--     <style>
       /* Set the size of the div element that contains the map */
          #map {
            height: 400px;  /* The height is 400 pixels */
            width: 100%;  /* The width is the width of the web page */
           }
    </style>
    
    
    <script>
        // Initialize and add the map
        function initMap() {
        // The location of Uluru
        var pokhara = {lat:28.2096 , lng:83.9856} ;
        // The map, centered at Uluru
        var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 15, center:pokhara);
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: pokhara, map: map});
            }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA3eEO0-vJKhThGrqi9bbbCnDqepqthLU&callback=initMap">
    </script> -->

{% endblock %}
