<div class="popular_places_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Popular Places</h3>
                        <p>Popular Places of nepal</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for dest in dest %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_place">
                        <div class="thumb">
                            <img src="{{dest.img.url}}" alt="{{dest.name}}">
                            <a href="/discription?field={{dest.name}}" class="prise">${{dest.price}}</a>
                        </div>
                        <div class="place_info">
                            <a href="/discription?field={{dest.name}}"><h3>{{dest.name}}</h3></a>
                            <p>{{dest.country}}</p>
                            <div class="rating_days d-flex justify-content-between">
                                <span class="d-flex justify-content-center align-items-center">
                                     <i class="fa fa-star"></i> 
                                     <i class="fa fa-star"></i> 
                                     <i class="fa fa-star"></i> 
                                     <i class="fa fa-star"></i> 
                                     <i class="fa fa-star"></i>
                                     <a href="#">(20 Review)</a>
                                </span>
                                <div class="days">
                                    <i class="fa fa-clock-o"></i>
                                    <a href="/discription?field={{dest.name}}">5 Days</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="more_place_btn text-center">
                        <a class="boxed-btn4" href="popular?field=Popular">More Places</a>
                    </div>
                </div>
            </div>
        </div>
    </div>